@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #9E9E9E;
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  color: white;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased !important;
  -webkit-text-stroke: rgba(255, 255, 255, 0.01) 0.1px;
  -webkit-font-smoothing: antialiased !important;

}

.full-height-grow {
  display: flex;
  flex-direction: column;
}

.brand-logo {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  color: inherit;
  text-decoration: none;
}

.brand-logo-name {
  margin-left: 1rem;
}

.main-nav ul, .footer-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav a, .footer-nav a {
  color: inherit;
  text-decoration: none;
  padding: 1rem;
}

.main-nav a:hover, .footer-nav a:hover  {
  color: #adadad;
}

.main-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header {
  height: 140px;
}

.main-footer {
  height: 70px;
  background-color: #202027;
  font-weight: lighter;
  font-size: smaller;
}



.social-link img {
  width: 1em;
  margin-right: .25rem;
}
/* 
.main-footer .container {
  display: flex;
  justify-content: space-between;
} */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  flex-grow: 1;
}

.title {
  font-weight: 500;
  font-size: 2em;
  margin-bottom: 1rem;
  margin-top: 0;
}

.subtitle {
  font-weight: 200;
  font-size: 1em;
  margin-bottom: 2rem;
}

.btn {
  color: white;
  background-color: rgba(2, 9, 15, 0.897);
  padding: .75rem 1.5rem;
  border-radius: .5rem;
  text-decoration: none;
  font-size: .9rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(2, 9, 15, 0.589);
}

.btn:focus {
  background-color: rgba(7, 19, 29, 0.897);
}

.join-form {
  width: 50vw;
  max-width: 100%;
  padding: 2rem 4rem;
  border-radius: 20px;
}

.input-group {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.input-group:last-child {
  margin-bottom: 0;
}

.input-group label {
  font-weight: bold;
  margin-bottom: .5rem;
}

.input-group input {
  outline: none;
  background: none;
  border: 1px solid #2E3852;
  font-size: 1em;
  padding: .5em;
  color: inherit;
  border-radius: 5px;
}

.input-group input:focus {
  border-color: #596da0;
}

@media (max-width: 900px) {
  .join-main-section {
    flex-direction: column;
    justify-content: center;
  }

  .join-form {
    width: 80vw;
    max-width: inherit;
    margin: 2rem 0;
  }
}

.encrypt-main-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.encrypt-main-section .covers-image {
  width: 30vw;
  margin-left: 2rem;
  height: auto;
  max-width: 350px;
}

.icon-section {
  display: flex;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: .5rem;
  padding: .75rem;
  width: 100px;
  height: 100px;
  background-color: #202027;
  margin-bottom: 2rem;
}

.icon img {
  width: 40px;
}

@media (max-width: 800px) {
  .encrypt-main-section {
    flex-direction: column;
    justify-content: center;
  }

  .encrypt-main-section .covers-image {
    margin-top: 2rem;
    height: 30vh;
    width: auto;
  }
}

.norm-main-section {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
}

.norm-main-section .img-wrapper {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}

.norm-main-section .encrypt {
  background-image: url(https://www.itsecurityguru.org/wp-content/uploads/2016/12/19x13.stamped.web_.png);
  flex-grow: 1;
  max-height: 80vh;
  min-width: 40vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center left;
}

.norm-main-section .call-to-action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
  align-self: center;
}

@media (max-width: 900px) {
  .norm-main-section .img-wrapper {
    display: none;
  }

  .norm-main-section {
    justify-content: center;
  }
}